//
// DDS Security library
// Copyright (c) 2018-2020, Arm Limited and Contributors. All rights reserved.
//
// SPDX-License-Identifier: BSD-3-Clause
//

// Note: This configuration file lists the deviated rules that will bring too
//       many warnings. However, this does not mean that they cannot be applied
//       for some particular code in the project.
//       Those checks are only run on the released code and not on the tests of
//       the library. The tests written for the library are less critical and
//       are expected to breaks more rules (Rule 11.4, Rule 17.1, Rule 21.4,
//       Rule 21.6, Rule 21.8).
//       Third-party libraries (mbedTLS and OP-TEE OS/Client) are not considered
//       in the report.

{
    version : "2.0",
    standard : "c2012",
    title: "libddssec Misra-C compliance",
    deviations : [
        {
            // Advisory: typedefs that indicate size and signedness should be
            //           used in place of the basic numerical types.
            deviation: "Directive 4.6",
            reason: "The third-party library mbedTLS uses the basic numerical
                     types (int, char,..) for function arguments and return
                     value. This rule will be followed for all the other usage
                     not related to mbedTLS."
        },
        {
            // Advisory: If a pointer to a structure or union is never
            //           dereferenced within a translation unit, then the
            //           implementation of the object should be hidden.
            deviation: "Directive 4.8",
            reason: "Many includes from third-party declare elements in their
                     headers that are not used."
        },
        {
            // Required: Dynamic memory allocation shall not be used.
            deviation: "Directive 4.12",
            reason: "OP-TEE OS and mbedTLS libraries use dynamic memory
                     allocation. However, dynamic  allocation will be avoided as
                     much as possible."
        },
        {
            // Advisory: There should be no unused parameters in functions.
            deviation: "Rule 2.7",
            reason: "This is required for OP-TEE OS and mbedTLS framework and
                     callback. In other cases, this rule is enforced."
        },

        {
            // Advisory: A conversion should not be performed from pointer to
            //           void into pointer to object.
            deviation: "Rule 11.5",
            reason: "Usage of dynamic allocation makes this rule unapplicable."
        },
        {
            // Advisory: The union keyword should not be used
            deviation: "Rule 19.2",
            reason: "OP-TEE OS uses unions (TEEC_Parameter) in its public API
                     forcing libddssec to use them. Libddssec will restrict the
                     use of unions by only using when required from third-party
                     libraries (e.g. OP-TEE OS)."
        },
    ]
}
